.App {
  text-align: right;
}

.password {
  line-height: 1.5;
  border-radius: 20px;
  padding-left: 10px;

  display: flex;
  align-items: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  color: rgb(37, 36, 36);
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 20px;
}

.contents{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input-container {
max-width: 90%;
display: flex;
justify-content: flex-end;
}

.output-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
li {
  text-align: left;
}

.hero-container{
  max-width: 500px;
}
.hero-text{
  font-size: 30px;
  font-weight: bolder;
  line-height: 1.5rem;
  text-align: right;
}

.instructions {
  background-color: rgb(255, 218, 224);
  max-width: 75vw;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
}




img {
  width: 20px;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}

input {
  border-radius: 15px;
  padding: 10px;
  font-size: 10px;
}

img:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
img:hover {
  background-color: rgb(216, 219, 222);
}

.logo {
  max-width: 500px;
  padding-left: 5px;
  width: 50vw;
}

button {
  background-color: #ffffff;
  max-width: 200px;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.65rem;
  font-weight: 600;
  line-height: 0.25rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(216, 219, 222);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}
