.App {
  text-align: center;
  background-color: rgb(249, 238, 238);
}

.password {
  line-height: 1.5;
  border-radius: 20px;
  padding-left: 10px;

  display: flex;
  align-items: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  color: rgb(37, 36, 36);
  position: relative;
  z-index: 1;

}
.app-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding-right: 20px;

}

.contents{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input-container {
max-width: 90%;
display: flex;
align-items: center;
}

.output-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
li {
  text-align: left;
}
.particles{
  position: fixed;
  width: 100%;
  z-index: -1;
}
.hero-container{
  max-width: 500px;
}
.hero-text{
  font-size: 30px;
  font-weight: bolder;
  line-height: 1.5rem;
  text-align: right;
}

.instructions {
  background-color: #ffecf2;
  max-width: 75vw;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: left;
}

img {
  width: 20px;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}

input {
  max-width: 100px;
  font-size: 11px;
  border-radius: 6px;
  line-height: 0.5;
  padding: 1px 1px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 200ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #f5fafb;
  display: block;
  height: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  :hover {
      border-color: #ccc;
  }
  :focus{
      border-color: #f3aec4;
      background: #fff;
  }
  


img:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
img:hover {
  background-color: #ffecf2;
}

.logo {
  max-width: 500px;
  padding-left: 5px;
  width: 50vw;
}

button {
  background-color: #ffffff;
  max-width: 200px;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.65rem;
  font-weight: 500;
  line-height: 0.25rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color:#ffecf2;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}


button:active {
  background-color: #ffecf2;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(2px);
}

img:active {
  background-color: #ffecf2;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(2px);
}